In [1]:
import pandas as pd
import numpy as np
import docx

my_doc = docx.Document()
df = pd.read_excel(r"C:\Users\rahea\OneDrive\Desktop\Data.xlsx")
df.head()

,Bible verse,bk verse,ch#,Book,BK#,book_name,chapter,ch verse,verse_PASUK,words,letters,code,ch#.1
0,1,1.0,#REF!,1 Genesis,1,1 בראשית,א,1,בראשית ברא אלהים את השמים ואת הארץ,7,28,#REF!,1
1,2,2.0,#REF!,1 Genesis,1,1 בראשית,א,2,והארץ היתה תהו ובהו וחשך על פני תהום ורוח אלהי...,14,52,#REF!,1
2,3,3.0,#REF!,1 Genesis,1,1 בראשית,א,3,ויאמר אלהים יהי אור ויהי אור,6,23,#REF!,1
3,4,4.0,#REF!,1 Genesis,1,1 בראשית,א,4,וירא אלהים את האור כי טוב ויבדל אלהים בין האור...,12,45,#REF!,1
4,5,5.0,#REF!,1 Genesis,1,1 בראשית,א,5,ויקרא אלהים לאור יום ולחשך קרא לילה ויהי ערב ו...,13,49,#REF!,1

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23205 entries, 0 to 23204
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0    Bible verse  23205 non-null  int64
 1   bk verse      23205 non-null  float64
 2   ch#           23205 non-null  object
 3   Book          23205 non-null  object
 4   BK#           23205 non-null  int64
 5   book_name     23205 non-null  object
 6   chapter       23205 non-null  object
 7   ch verse      23205 non-null  int64
 8   verse_PASUK   23205 non-null  object
 9   words         23205 non-null  int64
 10  letters       23205 non-null  int64
 11  code          23205 non-null  object
 12  ch#.1         23205 non-null  int64
dtypes: float64(1), int64(6), object(6)
memory usage: 2.3+ MB

In [3]:
df['verse_PASUK'].head()

0                   בראשית ברא אלהים את השמים ואת הארץ
1    והארץ היתה תהו ובהו וחשך על פני תהום ורוח אלהי...
2                         ויאמר אלהים יהי אור ויהי אור
3    וירא אלהים את האור כי טוב ויבדל אלהים בין האור...
4    ויקרא אלהים לאור יום ולחשך קרא לילה ויהי ערב ו...
Name: verse_PASUK, dtype: object

In [4]:
#1. Merge all rows to one without any space bettween them and copy output in txt file
test1 = ""
for ind1 in df.index:
    test1 += df['verse_PASUK'][ind1]
    
    
my_doc.add_paragraph(test1, style = 'No Spacing')
my_doc.save(r"D:\Merged_rows2.docx")