In [1]:
import pandas as pd
import numpy as np
import docx

my_doc = docx.Document()
df = pd.read_excel(r"C:\Users\rahea\OneDrive\Desktop\Data.xlsx")
df.head()

,Bible verse,bk verse,ch#,Book,BK#,book_name,chapter,ch verse,verse_PASUK,words,letters,code,ch#.1
0,1,1.0,#REF!,1 Genesis,1,1 בראשית,א,1,בראשית ברא אלהים את השמים ואת הארץ,7,28,#REF!,1
1,2,2.0,#REF!,1 Genesis,1,1 בראשית,א,2,והארץ היתה תהו ובהו וחשך על פני תהום ורוח אלהי...,14,52,#REF!,1
2,3,3.0,#REF!,1 Genesis,1,1 בראשית,א,3,ויאמר אלהים יהי אור ויהי אור,6,23,#REF!,1
3,4,4.0,#REF!,1 Genesis,1,1 בראשית,א,4,וירא אלהים את האור כי טוב ויבדל אלהים בין האור...,12,45,#REF!,1
4,5,5.0,#REF!,1 Genesis,1,1 בראשית,א,5,ויקרא אלהים לאור יום ולחשך קרא לילה ויהי ערב ו...,13,49,#REF!,1

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23205 entries, 0 to 23204
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0    Bible verse  23205 non-null  int64
 1   bk verse      23205 non-null  float64
 2   ch#           23205 non-null  object
 3   Book          23205 non-null  object
 4   BK#           23205 non-null  int64
 5   book_name     23205 non-null  object
 6   chapter       23205 non-null  object
 7   ch verse      23205 non-null  int64
 8   verse_PASUK   23205 non-null  object
 9   words         23205 non-null  int64
 10  letters       23205 non-null  int64
 11  code          23205 non-null  object
 12  ch#.1         23205 non-null  int64
dtypes: float64(1), int64(6), object(6)
memory usage: 2.3+ MB

In [3]:
df['verse_PASUK'].head()

0                   בראשית ברא אלהים את השמים ואת הארץ
1    והארץ היתה תהו ובהו וחשך על פני תהום ורוח אלהי...
2                         ויאמר אלהים יהי אור ויהי אור
3    וירא אלהים את האור כי טוב ויבדל אלהים בין האור...
4    ויקרא אלהים לאור יום ולחשך קרא לילה ויהי ערב ו...
Name: verse_PASUK, dtype: object

In [4]:
#3. Same as 1 but need to divide them in paragraphs based on the chapter they belong to

df_books = df['Book'].unique()
df_books

array(['1 Genesis', '2 Exodus', '3 Leviticus', '4 Numbers',
       '5 Deuteronomy', '6 Joshua', '7 Judges', '8 Samuel 1',
       '9 Samuel 2', '10 Kings 1', '11 Kings 2', '12 Isaiah',
       '13 Jeremiah', '14 Ezekiel', '15 Hosea', '16 Joel', '17 Amos',
       '18 Obadiah', '19 Jonah', '20 Micah', '21 Nahum', '22 Habakkuk',
       '23 Zephaniah', '24 Haggai', '25 Zechariah', '26 Malachi',
       '27 Psalms ', '28 Proverbs', '29 Job', '30 Song of Songs',
       '31 Ruth', '32  Lamentations', '33 Ecclesiastes', '34 Esther',
       '35 Daniel', '36 Ezra', '37 Nehemiah', '38 Chronicles 1',
       '39 Chronicles 2'], dtype=object)

In [5]:
df_Hbooks = df['book_name'].unique()
df_Hbooks

array(['1 בראשית', ' 2 שמות', '2 שמות', '3 ויקרא', '4 במדבר', '5 דברים',
       '6 יהושע', '7 שופטים', '8 שמואל א', '9 שמואל ב', '10 מלכים א',
       '11 מלכים ב', '12 ישעיהו', '13 ירמיהו', '14 יחזקאל', '15 הושע',
       '16 יואל', '17 עמוס', '18 עבדיה', '19 יונה', '20 מיכה', '21 נחום',
       '22 חבקוק', '23 צפניה', '24 חגי', '25 זכריה', '26 מלאכי',
       '27 תהלים', '28 משלי', ' 29 איוב', '30 שיר השירים', '31 רות',
       '32 איכה', '33 קהלת', '34 אסתר', '35 דניאל', '36 עזרא', '37 נחמיה',
       '38 דברי הימים א', '39 דברי הימים ב'], dtype=object)

In [6]:
df_chapters = df.groupby('Book').max(['ch#.1'])
df_chapters

,Bible verse,bk verse,BK#,ch verse,words,letters,ch#.1
Book,,,,,,,
1 Genesis,1534,1534.0,1,67,32,116,50
10 Kings 1,9444,817.0,10,66,36,138,22
11 Kings 2,10163,719.0,11,44,42,159,25
12 Isaiah,11454,1291.0,12,38,35,132,66
13 Jeremiah,12818,1364.0,13,64,42,160,52
14 Ezekiel,14091,1273.0,14,63,35,145,48
15 Hosea,14288,197.0,15,25,24,90,14
16 Joel,14361,73.0,16,27,25,101,4
17 Amos,14507,146.0,17,27,28,104,9
18 Obadiah,14528,21.0,18,21,21,76,1
19 Jonah,14576,48.0,19,16,32,113,4
2 Exodus,2744,1209.0,2,51,34,122,40
20 Micah,14681,105.0,20,20,24,104,7
21 Nahum,14728,47.0,21,19,21,82,3
22 Habakkuk,14784,56.0,22,20,24,91,3
23 Zephaniah,14837,53.0,23,20,28,109,3
24 Haggai,14875,38.0,24,23,28,116,2
25 Zechariah,15086,211.0,25,23,32,123,14
26 Malachi,15141,55.0,26,24,29,105,3
27 Psalms,17668,2527.0,27,176,20,77,151
28 Proverbs,18583,915.0,28,36,24,73,31
29 Job,19653,1070.0,29,41,33,131,42
3 Leviticus,3603,859.0,3,59,31,116,27
30 Song of Songs,19770,117.0,30,17,21,81,8
31 Ruth,19855,85.0,31,23,29,111,4
32 Lamentations,20009,154.0,32,66,23,86,5
33 Ecclesiastes,20231,222.0,33,29,31,110,12
34 Esther,20398,167.0,34,32,43,193,10
35 Daniel,20755,357.0,35,49,40,169,12
36 Ezra,21035,280.0,36,70,36,159,10
37 Nehemiah,21440,405.0,37,72,33,137,13
38 Chronicles 1,22383,943.0,38,66,33,134,29
39 Chronicles 2,23205,822.0,39,42,37,160,36
4 Numbers,4891,1288.0,4,89,30,118,36
5 Deuteronomy,5847,956.0,5,69,32,127,34
6 Joshua,6503,656.0,6,63,38,151,24
7 Judges,7121,618.0,7,57,35,135,21
8 Samuel 1,7932,811.0,8,58,35,139,31
9 Samuel 2,8627,695.0,9,51,36,133,24

In [7]:
df_books[38]

'39 Chronicles 2'

In [8]:
verse = ""
new_chap = 1
new_book = df_books[0]
#h_chapter = df['chapter'][0]
for ind in df.index:
    if ind <=23182:
        #h_book = df['book_name'][ind]
        b_book = df['Book'][ind]
        b_chapter = df['ch#.1'][ind]
        if new_book == b_book and new_chap == b_chapter:
            verse += df['verse_PASUK'][ind]
        else:
            #my_doc.add_heading(str(new_book), 1)
            #my_doc.add_heading(str(new_chap), 2)
            my_doc.add_paragraph(verse, style = 'No Spacing')
            #h_chapter = df['chapter'][ind]
            new_book = b_book
            new_chap = b_chapter
            verse = df['verse_PASUK'][ind]
            i = ind
    else:
        new_book = df_books[38]
        new_chap = 36
        verse += df['verse_PASUK'][ind]
        
#my_doc.add_heading(str(new_book), 1)
#my_doc.add_heading(str(new_chap), 2)
my_doc.add_paragraph(verse, style = 'No Spacing')
        
print (ind)

my_doc.save(r"D:\Paragraph.docx")

23204